<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Instance" value="https://login.microsoftonline.com/{0}"/>
    <add key="Tenant" value="Tenant"/>
    <add key="ClientId" value="ClientId"/>
    <add key="ClientSecret" value="ClientSecret"/>
    <add key="User" value="User"/>
    <add key="FolderName" value="FolderName"/>
  </appSettings>
</configuration>